################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MusicLib/obj
/MusicLib/bin/x86/Debug
/MusicLib/Assets
